@media (max-width: 600px) {
    .team-description ul {
        flex-wrap: wrap;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
    }

    .blog-news ul {
        flex-direction: column;
        padding: 1.5rem 4rem;
        gap: 25px;
    }

    .choose-us ul {
        flex-direction: column;
    }

    body>header>nav>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2px;
        padding-top: 25px;
    }

    .blog-news .content h4 {
        font-size: 0.8rem;
    }

    section.blog-news>ul>li>section.content>p {
        font-size: 0.7rem;
    }

    .blog-news ul .item .avatar {
        width: 300px;
        height: 150px;

    }

    .choose-us {
        display: flex;
        justify-content: center;
    }

    .choose-us ul {
        flex-direction: column;
        width: 60%;
    }

    section.team-description>div>ul>li {

        margin-top: 35px;
    }

    .blog-news ul .item .avatar img {
        display: block;
        width: 100%;
        height: auto;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}